.data-table {
  --table-b: 1px solid var(--table-b-c);
  --table-b-c: var(--ant-table-border-color, #f0f0f0);
  --table-c: var(--ant-color-text, rgba(0,0,0,0.88));
  --table-bg: var(--ant-color-bg-container, #fff);

  --table-header-c: var(--ant-table-header-color, rgba(0,0,0,0.88));
  --table-header-bg: var(--ant-table-header-bg, #fafafa);

  --table-row-hover-bg: var(--ant-table-row-hover-bg, #fafafa);

  font-size: 14px;
  
  &:not(&--border) thead th {
    position: relative;
    &:not(:last-child)::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      height: 1.6em;
      width: 1px;
      background-color: var(--table-b-c);
      transform: translateY(-50%);
    }
  }

  th, td {
    padding: 12px 8px;
    line-height: 22px;
  }

  .row-selection {
    width: 35px;
  }

  &--small {
    th, td {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}