.data-table {
  --bg: var(--el-bg-color, #fff);

  --in-menu-bg: var(--el-bg-color-overlay, #fff);
  --in-li-hover-bg: var(--el-fill-color-light, #f5f7fa);

  --in-table-b: 1px solid var(--in-table-b-c);
  --in-table-b-c: var(--el-table-border-color, #ebeef5);
  --in-table-c: var(--el-table-text-color, #606266);
  --in-table-bg: var(--el-table-tr-bg-color, #fff);

  --in-table-header-c: var(--el-table-header-text-color, #909399);
  --in-table-header-bg: var(--in-table-bg);
  
  --in-table-row-hover-bg: var(--el-table-row-hover-bg-color, #f5f7fa);

  line-height: 23px;
  font-size: 14px;
  
  thead th {
    font-weight: 600;
  }

  th, td {
    padding: 8px 12px;
  }

  .row-selection {
    width: 45px;
  }

  &--small {
    font-size: 12px;

    th, td {
      padding: 4px 8px;
    }
  }
}