.data-table {
  --bg: var(--el-bg-color, #fff);

  --menu-bg: var(--el-bg-color-overlay, #fff);
  --li-hover-bg: var(--el-fill-color-light, #f5f7fa);

  --table-b: 1px solid var(--table-b-c);
  --table-b-c: var(--el-table-border-color, #ebeef5);
  --table-c: var(--el-table-text-color, #606266);
  --table-bg: var(--el-table-tr-bg-color, #fff);

  --table-header-c: var(--el-table-header-text-color, #909399);
  --table-header-bg: var(--table-bg);
  
  --table-row-hover-bg: var(--el-table-row-hover-bg-color, #f5f7fa);

  @apply lh-[23px] text-[14px];
  
  thead th {
    @apply font-600;
  }

  th, td {
    @apply px-3 py-2;
  }

  .row-selection {
    width: 45px;
  }

  &--small {
    @apply text-3;

    th, td {
      @apply px-2 py-1;
    }
  }
}