:root {
  color-scheme: light;
  --bg: #fff;
  --menu-bg: #fff;
  --header-bg: #f6f6f7;
}

.dark {
  color-scheme: dark;
  --bg: #121212;
  --menu-bg: #121212;
  --header-bg: #161618;
}

body {
  @apply bg-[--bg] m-0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

img, iframe {
  // margin: 1rem 0;
}

mark {
  padding: .1rem .3rem;
}

.col-hand {
  --w: 4px;
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  // flex: 0 0 auto;
  width: var(--gap);
  cursor: w-resize;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: opacity 100ms linear;

  &:hover, &:active {
    opacity: 1;
  }

  &::after {
    content: '';
    display: block;
    flex-shrink: 0;
    width: 4px;
    height: 100%;
    background: rgba(gray, .5);
  }

  > .dot {
    --w: 20px;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    width: calc(var(--w) * 1);
    height: calc(var(--w) * 1);
    
    &:hover {
      &::after {
        content: '+';
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(var(--w) * 1);
        height: calc(var(--w) * 1);
        background-color: rgba(blue, .75);
        box-shadow: 0 4px 6px rgba(#000, .2);
      }
    }

    &::after {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      color: #fff;
      background-color: rgba(blue, .5);
      border-radius: 50%;
      transition: all 100ms;
      cursor: pointer;
    }
  }
}
